@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.root {
  min-height: calc(100vh - 48px);
  padding: 64px 24px;
  max-width: 512px;
  margin: 0 auto;

  border-left: 1px solid var(--theme-border);
  border-right: 1px solid var(--theme-border);

  @media (max-width: 768px) {
    border-left: 0;
    border-right: 0;
  }
}